#about {
    height: 103vh;
    width: 74vw;
    border: 4px solid #82C6E2;
    background-color: #461474;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

#h1About{
    text-align: center;
    font-size: 30px; 
    text-transform: uppercase;
    
}

#sectionAbout{
    margin: 50px 15px;
  }